.App .container {
  margin-top: 100px;
  text-align: left;
}

.App h1 {
  font-size: 30px;
}

.App .form-control.me-2 {
  max-width: 500px;
}
.App button {
  background-color: #02c39a;
  color: white;
}
.App a {
  text-decoration: none;
  color: #02c39a;
}
