body {
  background-image: url("https://secure.img1-fg.wfcdn.com/im/34632366/resize-hundefined-wundefined%5Ecompr-r85/3636/36367035/Balmorhea+Alphabet+33%2527+x+20.5%2522+Wallpaper.jpg");
  background-size: 100%;
}

.App .container {
  margin-top: 100px;
  text-align: left;
  max-width: 950px;
}

.App .form-control.me-2 {
  max-width: 500px;
}

.App a {
  text-decoration: none;
  color: #02c39a;
  font-family: "Kiwi Maru", serif;
}
.App footer {
  font-size: 13px;
  font-weight: bold;
  background-color: #f7f9eb;
  font-family: "Kiwi Maru", serif;
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}
