.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  margin: 15px 0;
}

.Dictionary h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Kiwi Maru", serif;
}
.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  border: 1 px solid #ddd;
  font-family: "Kiwi Maru", serif;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  font-family: "Kiwi Maru", serif;
}
